@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,700;0,900;1,800;1,900&family=Ubuntu:wght@300&display=swap');

.container {
    background-color: #fff;
    color: #3d47a1;
    padding: 50px;
  }
  
  .text{
    font-family: 'Montserrat-Black', sans-serif;
     font-size: 2 rem;
     line-height: 1.5;
     font-weight: lighter;
     margin-bottom: 5px;
     
}
.title-half{
  font-size: 3rem;
  font-weight: bolder;
 
}
h3{
  font-family: 'Ubuntu', sans-serif;
}
  
.large-btn {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #3d47a1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.large-btn:hover {
  background-color: #1565c0;
}


  .title-img {
    width: 40%;
    position: absolute;

    top: 30%;
  
    right:30%;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 992px) {
    .title-img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  
    .col-lg-6 {
      position: relative;
    }
  
    .text {
      margin-bottom: 70px;
      font-size: 48px;
    }
  }
  
