.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  color: #032860;
  padding: 0 20px;
}

.logo {
 font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #032860;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Updated to justify-content: flex-end */
  width: 70%; /* Updated to 70% to leave some gap between logo and links */
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px; /* Added to create gap between the links */
}

.nav-links li a {
  text-decoration: none;
  color: #032860;
}

.login-button {
  background-color: #032860;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1565c0;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .nav-links {
    display: none;
  }

  .logo {
    margin-bottom: 20px;
  }

  .login-button {
    margin-top: 20px;
  }

  /* Show navbar links when menu icon is clicked */
  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar .menu-icon:hover {
    color: #ccc;
  }

  .navbar .menu-icon:before {
    content: "\2630";
    font-size: 24px;
    line-height: 60px;
  }

  .navbar .menu-icon.active:before {
    content: "\2715";
  }

  .navbar .nav-links {
    display: block;
    width: 100%;
    margin: 20px 0 0;
  }

  .navbar .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .navbar .nav-links li a {
    font-size: 20px;
    color: #ccc;
    text-transform: uppercase;
  }

  .navbar .nav-links li a:hover {
    color: #0d47a1;
  }
}
